<table class="changes">
  <tr><th>date</th><th colspan="3">coverage</th></tr>
<% @columns.each do |type, *args| %>
<%   case type %>
<%   when :navi %>
<%     side, icon, view = *args %>
<%     title = "#{ icon } #{ side } #{ icon }" %>
  <tr>
    <td colspan="4" class="entry"><%= link(title, view: view) %></td>
  </tr>
<%   when :entry %>
<%     title, current, changes_view, day_view, hit, found, mark = *args %>
  <tr>
    <td class="entry">
      <span class="link"><%= link(view_icon(:day), view: day_view) %></span>
<%     if current %>
      <strong><%= title %></strong>
<%     else %>
      <%= link(title, view: changes_view) %>
<%     end %>
<%     if mark %>
      (<%= mark %>)
<%     end %>
    </td>
    <%= coverage_markup([hit, found], true, colspan2: 2) %>
  </tr>
<%   when :diff %>
<%     mark, diff_view, cov_inc, cov_dec = *args %>
  <tr>
    <td class="diff">
      <span class="link">
        <%= link(view_icon(:diff), view: diff_view) %>
      </span>
      <%= mark %>
    </td>
    <td></td>
    <td>+<%= cov_inc %></td>
    <td>-<%= cov_dec %></td>
  </tr>
<%   end %>
<% end %>
</table>

<p>legend:</p>
<dl class="legend">
<% type, obj = @path_type != :file ? [:dir, :file] : [:file, :line] %>
<% [:added, :deleted, :modified].each do |event| %>
<%   next if type == :file && event == :modified %>
<%   msg = "some #{ obj }s are #{ event }" %>
  <dt><%= changes_detail_icon(type, event, msg) %><dd><%= msg %></dd>
<% end %>
  <dt>(nothing)</dt><dd>no code is modified; only coverage id changed</dd>
</dl>
